* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    border-bottom: 1px solid #eee;
}

.logo {
    color: #6f42c1;
    font-size: 22px;
    font-weight: 600;
}

.logo i {
    color: #d63384;
}

.navbar ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #444;
}

.active {
    color: #d63384;
}

.login {
    background: #6f42c1;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
}

/* image */

.hero {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 70px 5%;
}

.hero-text {
    flex: 1;
}

.hero-text small {
    color: #d63384;
}

.hero h1 {
    font-size: 45px;
    margin: 15px 0;
}

.hero h1 span {
    color: #6f42c1;
}

.hero p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 25px;
}

.hero button {
    background: #d63384;
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 6px;
}

.hero-img {
    flex: 1;
}

.hero-img img {
    width: 100%;
    border-radius: 15px;
}